:root {
  --iris: #4d5ae5;
  --ocean: #404bbf;
  --navy-blue: #2e2f42;
  --green: #31d0aa;
  --slate: #434455;
  --light-slate: #8e8f99;
  --cornflower: #e7e9fc;
  --cloud: #f4f4fd;
  --navy-blue-modal: #2e2f4266;
  --grey: #2e2f42b2;
  --white: #ffffff;
  --dairy: #fcfcfc;
}

* {
  margin: 0;
  padding: 0;
}

/* mobile */

body {
  background-color: var(--white);
  color: var(--slate);
  font-family: "Roboto", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

.container {
  margin: 0 auto;
  padding: 0 16px;
  max-width: 428px;
}

.link {
  text-decoration: none;
}

.link:hover,
.link:focus {
  color: var(--ocean);
}

.logo {
  color: var(--iris);
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  font-weight: 800;
  letter-spacing: 0.03em;
  line-height: 1.17;
  text-transform: uppercase;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.logo-header {
  margin-right: 120px;
}

.accent {
  color: var(--navy-blue);
}

.list {
  display: flex;
  flex-wrap: wrap;
  gap: 72px;
  justify-content: center;
  list-style: none;
  margin: 0;
  padding-left: 0;
}

.section {
  padding: 96px 0;
}

.button {
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  letter-spacing: 0.04em;
  line-height: 1.5;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.third-heading {
  color: var(--navy-blue);
  font-size: 20px;
  font-weight: 500;
  letter-spacing: 0.02em;
  line-height: 1.2;
  margin-bottom: 8px;
  text-align: center;
}

.paragraph {
  color: var(--slate);
  font-weight: 500;
  letter-spacing: 0.02em;
  line-height: 1.5;
  text-align: center;
}

.second-heading {
  color: var(--navy-blue);
  font-size: 36px;
  font-weight: 700;
  letter-spacing: 0.02em;
  line-height: 1.11;
  margin-bottom: 72px;
  text-align: center;
  text-transform: capitalize;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.menu-toggle {
  position: absolute;
  top: 24px;
  right: 24px;
}

.address {
  align-items: center;
  display: flex;
  font-style: normal;
}

/* header */

.header {
  border-bottom: 1px solid var(--cornflower);
  box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}

.header-wrap {
  align-items: center;
  display: flex;
  height: 70px;
  max-width: 428px;
  position: relative;
}

.header-wrap .nav-list,
.header-wrap .address {
  display: none;
}

.nav-link {
  color: var(--navy-blue);
  display: inline-block;
  font-size: 36px;
  font-weight: 700;
  letter-spacing: 0.02em;
  line-height: 1.11;
  padding-top: 40px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.active-page {
  color: var(--ocean);
  position: relative;
}

.active-page::after {
  background-color: var(--ocean);
  border-radius: 2px;
  bottom: -1px;
  content: "";
  height: 4px;
  left: 0;
  position: absolute;
  width: 100%;
}

.address-link {
  color: var(--slate);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header-wrap .menu-toggle {
  background: none;
  border: none;
  cursor: pointer;
  stroke: var(--navy-blue);
}

/* main studio */

.starting-section {
  background-color: var(--navy-blue);
  background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url("../images/people-office-mobile.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin: 0 auto;
  max-width: 1440px;
  padding: 112px 0;
}

.first-heading {
  color: var(--white);
  font-size: 36px;
  letter-spacing: 0.02em;
  line-height: 1.11;
  max-width: 320px;
  text-align: center;
  margin: 0 auto 48px auto;
}

.main-button {
  background-color: var(--iris);
  border: none;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  color: var(--white);
  display: block;
  margin: 0 auto;
  min-width: 169px;
  padding: 16px 32px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.main-button:hover,
.main-button:focus {
  background-color: var(--ocean);
}

.traits-section .third-heading {
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
}

.traits-section .paragraph {
  text-align: left;
}

.traits-li {
  width: 100%;
}

.traits-div {
  display: none;
}

.work-section {
  display: none;
}

.team-section {
  background-color: var(--cloud);
}

.team-list {
  margin: 0 auto;
}

.team-li {
  background-color: var(--white);
  border-radius: 0 0 4px 4px;
  box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08),
    0px 1px 1px 0px rgba(46, 47, 66, 0.16),
    0px 1px 6px 0px rgba(46, 47, 66, 0.08);
  max-width: 264px;
}

.team-member {
  padding: 32px 0;
}

.team-member .paragraph {
  font-weight: 400;
}

.team-member .list {
  gap: 24px;
  margin-top: 8px;
}

.social-link {
  align-items: center;
  background-color: var(--iris);
  border-radius: 50%;
  display: flex;
  height: 40px;
  justify-content: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  width: 40px;
}

.social-link:hover,
.social-link:focus {
  background-color: var(--ocean);
}

.social-svg {
  fill: var(--cloud);
}

.customers-list {
  column-gap: 16px;
  margin: 0 auto;
}

.customers-li {
  height: 88px;
  min-width: 190px;
}

.customers-link {
  align-items: center;
  border: 1px solid var(--light-slate);
  border-radius: 4px;
  color: var(--light-slate);
  display: flex;
  height: 100%;
  justify-content: center;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  width: 100%;
}

.customers-link:hover,
.customers-link:focus {
  border-color: var(--ocean);
  color: var(--ocean);
}

.customers-svg {
  fill: currentColor;
}

/* footer */

.footer {
  background-color: var(--navy-blue);
  padding: 96px 0;
}

.footer-wrap {
  align-items: baseline;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  max-width: 428px;
}

.footer-left {
  margin: 0 auto 72px auto;
}

.logo-footer {
  display: inline-block;
  margin-bottom: 16px;
  text-align: center;
  width: 100%;
}

.footer .accent {
  color: var(--cloud);
}

.footer-paragraph {
  color: var(--cloud);
  letter-spacing: 0.02em;
  line-height: 1.5;
  margin: 0 auto;
  max-width: 264px;
}

.footer-social-div {
  margin: 0 auto 72px auto;
}

.footer-title-paragraph {
  color: var(--white);
  display: block;
  font-weight: 500;
  letter-spacing: 0.02em;
  line-height: 1.5;
  margin-bottom: 16px;
  text-align: center;
}

.footer-social-list {
  gap: 16px;
}

.social-li {
  height: 40px;
  width: 40px;
}

.icon-link {
  align-items: center;
  background-color: var(--iris);
  border-radius: 50%;
  display: flex;
  height: 100%;
  justify-content: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  width: 100%;
}

.icon-link:hover,
.icon-link:focus {
  background-color: var(--green);
}

.footer-social-svg {
  max-height: 40px;
  max-width: 40px;
  fill: var(--cloud);
}

.footer-form-div {
  width: 100%;
}

.footer-form {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
}

.footer-label {
  width: 100%;
}

.footer-input {
  background-color: transparent;
  border: 1px solid rgba(255, 255, 255, 0.6);
  border-radius: 4px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  color: var(--white);
  font-size: 12px;
  height: 40px;
  letter-spacing: 0.04em;
  line-height: 1.5;
  padding-left: 16px;
  width: 100%;
}

.footer-input::placeholder {
  color: rgba(255, 255, 255, 0.6);
}

.subscribe-button {
  align-items: center;
  background-color: var(--iris);
  color: var(--white);
  display: flex;
  height: 40px;
  justify-content: center;
  margin: 0 auto;
  min-width: 165px;
  padding: 8px 24px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.subscribe-button:hover,
.subscribe-button:focus {
  background-color: var(--ocean);
}

.send-icon {
  fill: var(--white);
  margin-left: 16px;
}

/* portfolio */

.portfolio-section {
  padding: 48px 0;
}

.buttons {
  gap: 16px 24px;
  justify-content: start;
  margin-bottom: 72px;
}

.portfolio-button {
  background-color: var(--cloud);
  border: 1px solid var(--cornflower);
  color: var(--iris);
  padding: 8px 16px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-button:hover,
.portfolio-button:focus {
  background-color: var(--ocean);
  border: 1px solid transparent;
  box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.12),
    0px 2px 1px 0px rgba(0, 0, 0, 0.08), 0px 3px 1px 0px rgba(0, 0, 0, 0.1);
  color: var(--white);
}

.portfolio-second-heading {
  color: var(--navy-blue);
  font-size: 20px;
  font-weight: 500;
  letter-spacing: 0.02em;
  line-height: 1.2;
  margin-bottom: 8px;
}

.portfolio-app-list {
  margin: 0 auto;
  row-gap: 48px;
  text-align: left;
}

.portfolio-app-li {
  box-shadow: 0px 1px 6px 0px rgba(46, 47, 66, 0.08);
}

.portfolio-app-link {
  display: block;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-app-link:hover,
.portfolio-app-link:focus {
  box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08),
    0px 1px 1px 0px rgba(46, 47, 66, 0.16),
    0px 1px 6px 0px rgba(46, 47, 66, 0.08);
}

.portfolio-app-link:hover .app-paragraph,
.portfolio-app-link:focus .app-paragraph {
  transform: translateY(0%);
}

.img-wrap {
  overflow: hidden;
  position: relative;
}

.app-paragraph {
  background-color: var(--iris);
  color: var(--cloud);
  height: 100%;
  padding: 40px 32px;
  position: absolute;
  text-align: left;
  top: 0;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-app-name {
  border: 1px solid var(--cornflower);
  border-top: none;
  padding: 32px 16px;
}

.app-name-small {
  font-weight: normal;
  text-align: left;
}

/* modal form */

.backdrop {
  background-color: var(--navy-blue-modal);
  height: 100vh;
  left: 0;
  position: fixed;
  width: 100vw;
  z-index: 1;
  top: 0;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}

.modal {
  background-color: var(--dairy);
  box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.2),
    0px 1px 3px 0px rgba(0, 0, 0, 0.12), 0px 1px 1px 0px rgba(0, 0, 0, 0.14);
  border-radius: 4px;
  left: 50%;
  min-width: 392px;
  min-height: 584px;
  padding: 72px 16px 24px 16px;
  position: absolute;
  top: 50%;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transform: translate(-50%, -50%) scale(1);
}

.is-hidden .modal {
  transform: translateY(100%);
}

.close {
  align-items: center;
  background-color: var(--cornflower);
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  cursor: pointer;
  display: flex;
  justify-content: center;
  min-height: 24px;
  position: absolute;
  right: 24px;
  top: 24px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  min-width: 24px;
}

.close:hover,
.close:focus {
  background-color: var(--ocean);
  border: none;
  fill: var(--white);
}

.close-icon {
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-paragraph {
  color: var(--navy-blue);
  font-weight: 500;
  margin-bottom: 16px;
}

.modal-field {
  margin-bottom: 8px;
}

.modal-row {
  position: relative;
}

.modal-label {
  color: var(--light-slate);
  display: block;
  font-size: 12px;
  letter-spacing: 0.04em;
  line-height: 1.17;
  margin-bottom: 4px;
}

.modal-input {
  background-color: transparent;
  border: 1px solid var(--navy-blue-modal);
  border-radius: 4px;
  height: 40px;
  outline: transparent;
  padding-left: 38px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  width: 100%;
}

.modal-input:focus {
  border-color: var(--iris);
}

.modal-form-icon {
  position: absolute;
  left: 16px;
  top: 50%;
  transform: translateY(-50%);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-input:focus + .modal-form-icon {
  fill: var(--iris);
}

.modal-textarea-field {
  margin-bottom: 16px;
}

.textarea {
  color: var(--navy-blue-modal);
  font-size: 12px;
  height: 120px;
  letter-spacing: 0.04em;
  line-height: 1.17;
  padding: 8px 16px;
  resize: none;
}

.textarea::placeholder {
  color: var(--navy-blue-modal);
  font-size: 12px;
  letter-spacing: 0.03em;
  line-height: 1.17;
}

.policy {
  align-items: center;
  display: flex;
  margin-bottom: 24px;
}

.policy-input {
  border: 1px solid var(--navy-blue-modal);
  border-radius: 4px;
  display: block;
  height: 16px;
  margin-right: 8px;
  width: 16px;
}

.policy-label {
  display: block;
  color: var(--light-slate);
  font-size: 12px;
  letter-spacing: 0.04em;
  line-height: 1.17;
}

.policy-span {
  align-items: center;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 2px;
  color: var(--iris);
  display: inline-flex;
  fill: transparent;
  height: 16px;
  justify-content: center;
  margin-right: 8px;
  width: 16px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.policy-input:checked + .policy-label .policy-span {
  background-color: var(--ocean);
  border: none;
  fill: var(--cloud);
}

.policy-link {
  color: var(--iris);
}

.button-modal {
  background-color: var(--iris);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  color: var(--white);
  display: block;
  height: 56px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  margin: 0 auto;
  min-width: 169px;
}

.button-modal:hover,
.button-modal:focus {
  background-color: var(--ocean);
  color: var(--white);
}

/* mobile menu */

.menu-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  padding: 40px;
  background-color: var(--white);
  z-index: 999;
  transform: translateX(100%);
  transition: transform 250ms ease-in-out;
}

.menu-container.is-open {
  transform: translateX(0);
}

.menu-container .nav-list {
  gap: 0;
  justify-content: start;
  max-width: 200px;
}

.menu-container .active-page::after {
  display: none;
}

.menu-container .address {
  font-size: 20px;
  font-weight: 500;
  margin-bottom: 48px;
}

.menu-address-list {
  flex-wrap: wrap;
  gap: 40px;
  justify-content: start;
  max-width: 353px;
}

.menu-address-li:first-child {
  color: var(--iris);
  font-size: 36px;
  font-weight: 700;
  min-width: 353px;
}

.menu-address-li:first-child .address-link {
  color: var(--iris);
}

.menu-social-list {
  gap: 56px;
  justify-content: start;
}

@media screen and (min-device-pixel-ratio: 2),
  (-webkit-min-device-pixel-ratio: 2),
  screen and (min-resolution: 192dpi),
  screen and (min-resolution: 2dppx) {
  .starting-section {
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url("../images/people-office-mobile@2x.jpg");
  }
}

/* tablet */

@media all and (min-width: 768px) {
  .container {
    max-width: 768px;
  }

  /* header */

  .header-wrap {
    height: 72px;
    max-width: 768px;
  }

  .navigation {
    align-items: center;
    display: flex;
  }

  .header-wrap .nav-list {
    display: flex;
    gap: 40px;
  }

  .header-wrap .nav-link {
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    padding: 24px 0;
  }

  .header-wrap .address {
    display: flex;
    font-size: 12px;
    font-weight: 400;
    letter-spacing: 0.04em;
    line-height: 1.17;
    margin-left: auto;
    max-width: 119px;
  }

  .header-wrap .address-list {
    gap: 12px;
  }

  .menu-toggle {
    display: none;
  }

  /* main studio */

  .starting-section {
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url("../images/people-office-tablet.jpg");
  }

  .first-heading {
    font-size: 56px;
    line-height: 1.07;
    max-width: 496px;
  }

  .traits-list {
    gap: 72px 24px;
    margin: 0 auto;
    max-width: 736px;
  }

  .traits-li {
    max-width: 356px;
  }

  .traits-section .third-heading {
    text-align: left;
  }

  .team-list {
    gap: 64px 24px;
  }

  .customers-list {
    gap: 72px 24px;
  }

  .customers-li {
    min-width: 168px;
  }

  /* footer */

  .footer-wrap {
    gap: 72px 24px;
    max-width: 584px;
  }

  .footer-left {
    margin: 0;
  }

  .logo-footer {
    text-align: left;
  }

  .footer-social-div {
    margin: 0;
  }

  .footer-title-paragraph {
    text-align: left;
  }

  .footer-form {
    gap: 24px;
  }

  .footer-label {
    width: 264px;
  }

  .subscribe-button {
    margin: 0;
  }

  /* portfolio */

  .buttons {
    justify-content: center;
  }

  .portfolio-button {
    padding: 12px 24px;
  }

  .portfolio-app-list {
    gap: 72px 24px;
  }

  .portfolio-app-li {
    max-width: 356px;
  }

  /* modal form */

  .modal {
    min-width: 408px;
  }

  @media screen and (min-device-pixel-ratio: 2),
    (-webkit-min-device-pixel-ratio: 2),
    screen and (min-resolution: 192dpi),
    screen and (min-resolution: 2dppx) {
    .starting-section {
      background-image: linear-gradient(
          rgba(46, 47, 66, 0.7),
          rgba(46, 47, 66, 0.7)
        ),
        url("../images/people-office-tablet@2x.jpg");
    }
  }
}

@media all and (min-width: 1158px) {
  .container {
    max-width: 1158px;
  }

  .section {
    padding: 120px 0;
  }

  /* header */

  .header-wrap .address {
    font-size: 16px;
    letter-spacing: 0.02em;
    line-height: 1.5;
    margin-left: auto;
    max-width: 100%;
  }

  .header-wrap .address-list {
    gap: 40px;
  }

  /* main studio */

  .starting-section {
    padding: 188px 0;
  }

  .traits-list {
    flex-wrap: nowrap;
  }

  .traits-li {
    min-width: 264px;
  }

  .traits-div {
    align-items: center;
    background-color: var(--cloud);
    border-radius: 4px;
    display: flex;
    height: 112px;
    justify-content: center;
    margin-bottom: 8px;
  }

  .traits-section .third-heading {
    font-size: 20px;
    font-weight: 500;
  }

  .paragraph {
    font-weight: 400;
  }

  .work-section {
    display: block;
    padding-top: 0;
  }

  .work-list {
    flex-wrap: nowrap;
    gap: 24px;
  }

  .team-list {
    flex-wrap: nowrap;
  }

  .customers-list {
    flex-wrap: nowrap;
  }

  .customers-li {
    min-width: 168px;
  }

  /* footer */

  .footer-wrap {
    gap: 0;
    max-width: 1160px;
  }

  .footer-left {
    margin-right: 120px;
  }

  .footer-form-div {
    margin-left: auto;
    width: auto;
  }

  .footer-form {
    flex-wrap: nowrap;
  }

  /* portfolio */

  .portfolio-section {
    padding-top: 100px;
  }

  .portfolio-app-list {
    gap: 48px 24px;
  }

  .portfolio-app-li {
    width: 360px;
  }

  /* modal */

  @media screen and (min-device-pixel-ratio: 2),
    (-webkit-min-device-pixel-ratio: 2),
    screen and (min-resolution: 192dpi),
    screen and (min-resolution: 2dppx) {
    .starting-section {
      background-image: linear-gradient(
          rgba(46, 47, 66, 0.7),
          rgba(46, 47, 66, 0.7)
        ),
        url("../images/people-office-desktop@2x.jpg");
    }
  }
}
